{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
{{- $limit := 10 }}
{{- $total := len $tags }}
<div class="widget-taglist widget">
	<h4 class="widget__title">{{ T "tags_title" }}</h4>
	<div class="widget__content">
	{{- range $i, $item := $tags.ByCount }}
	<a class="widget-taglist__link widget__link btn{{ if ge $i $limit }} widget-extra{{ end }}" href="{{ $item.Page.RelPermalink }}" title="{{ $item.Page.Title }}">
		{{- $item.Page.Title -}}{{- if $.Site.Params.widgets.tags_counter }} ({{ $item.Count }}){{ end -}}
	</a>
	{{- end }}
	{{- if gt $total $limit }}
	<button class="widget-more-btn" aria-expanded="false">Ещё {{ sub $total $limit }} ↓</button>
	{{- end }}
	</div>
</div>
{{- end }}
