<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8XZXCDMZJ7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-8XZXCDMZJ7');
</script>

<!-- Umami Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="ecdc875f-852f-444f-b514-b327220b6d50"></script>

<!-- Open Graph -->
<meta property="og:locale" content="ru_RU">
{{ if .IsPage }}
<meta property="og:type" content="article">
{{ else }}
<meta property="og:type" content="website">
{{ end }}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">

<!-- Custom theme CSS -->
<link rel="stylesheet" href="{{ "css/extra.css" | relURL }}?v=2">
